# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

Debug/
Release/
!compoviewer/deps/Debug/
!compoviewer/deps/Release/
*.opensdf
*.log
*.mp3
*.sdf
*.suo
*.log
*.user
compoviewer/submissions/